#banner {
	background-image: url(""), url(""), url("images/overlay.png"), url("../images/trainner-banner.jpg");
}

#banner .inner header {
	border-bottom: 0;
	border-top: 0;
}

#main {
	background-image: url(""), url(""), url("images/dark-bl.svg"), url("images/dark-br.svg");
	background-position: top left, top right, bottom left, bottom right;
	background-repeat: no-repeat;
	background-size: 25em;
	padding: 7em 0;
}

.wrapper.style2 {
	background-color: #83d3c9;
	background-image: url(""), url("");
	background-position: bottom left, bottom right;
	background-repeat: no-repeat, no-repeat;
	background-size: 25em, 25em;
	color: white;
}

#cta {
	background-image: url(""), url(""), url("images/overlay.png"), url("../images/togo.jpg");
}

#header nav ul li button {
	background: transparent;
	border: solid 1px transparent;
}

#header nav ul li.active > a, #header nav ul li:hover > button > a {
	-moz-transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	background: rgba(188, 202, 206, 0.15);
}

#header.alt nav ul li.active > a, #header.alt nav ul li:hover > button {
	border: solid 1px;
}