/**
Bootstrap Custom Styles
**/
.col-lg-3 {
  width: 27%;
  padding-right: 0;
}

/**
General Styles
**/
.message-list {
  border-right: 1px solid #ccc;
  height: 640px;
}

.message-list .sidebar-nav {
  width: 235px;
}

.message-list h4 {
   font-size: 14px;
   font-weight: bolder;
   margin-bottom: -8px;
   margin-top: 0;
   padding-top: 10px;
}

.message-list p {
  font-size: 14px;
  margin-bottom: 0;
}

.message-list .sidebar-nav li {
    text-indent: 0;
    border-bottom: 1px solid #ecf0f1;
}

.message-list .sidebar-nav .thumb-cont:hover {
  background: #ecf0f1;
  cursor: pointer;
  width: 100%;
  height: 100%;
}

.message-list .thumb-cont {
  position: relative;
}

.message-list .sidebar-nav li a {
  padding-left: 10px;
}

.message-list .sidebar-nav ul {
  border-bottom: 4px solid #ecf0f1;
}

.message {
  height: 300px;
}

.response-cont {
  padding-top: 90px;
}
