/**
Bootstrap Customized Styles

.col-sm-1 {
	width: 10.333333%;
}

.col-sm-2 {
	width: 10.666667%;
}
**/
.third .col-md-4 {
	margin-bottom: 25px;
}

.trainer .container {
	width: 400px;
}

.second .col-lg-3 {
	padding-left: 0;
}

.second .container {
	background: #fff;
	width: 1320px;
	border-bottom: 2px solid #ccc;
}

.second .col-md-3 {	
    padding: 0;
    background: rgba(52, 152, 219, 0.7);
    height: 275px;

}

.second .col-lg-9 {
	padding-right: 0;
}

.second .col-lg-9 .row {
	margin: 0;
}

/**
General Styles
**/
.first {
	margin-top: 50px;
	text-align: center;
	padding-bottom: 20px;
	color: #fff;
	background: url('../img/web-assets/web-assets-30.png') repeat;
}

.second {
	position: absolute;
	width: 100%;
	height: 230px;
	background: url('../img/web-assets/web-assets-30.png') repeat;
	border-bottom: 1px solid #ccc;
}

.second .value {
	color: #5bc0de;
}

.second .trainer-info {
}

.second .trainer-info h3 {
	font-weight: bolder;
	font-size: 20px;
}

.second .trainer-info p {
	color: #999;
}

.second  .photo img {
	width: 330px;
	height: 275px;
}

.second .book-btn {
	text-align: center;
}

.second .booking {
	margin-top: 20px;
}

.second .message-cont {
	margin-top: 20px;
	margin-left: 1px;
	color: #fff;
}

.second .message-cont h3 {
	margin-left: 30px;
	font-weight: bold;
	margin-top: 32px;
	text-align: center;
}

.second .message-cont p {
	text-align: left;
}

.second .message-cont figure {
	margin-top: 20px;
	text-align: center;
}

.second .message-cont img {
	width: 40px;
	height: 40px;
}

.third {
	margin-top: 230px;
	background: #efefef;
}

.third .row.info-cont {
	margin-top: 40px;
}

.third .about-cont {
	background: #fff;
	margin-top: 0;
	border-bottom: 2px solid #5bc0de;
	margin-left: 1px;
}

.third .about-cont p {
	color: #999;
	margin-top: 10px;
}

.third .about-title {
	margin-top: 20px;
	height: 63px;
	background: #5bc0de;
	margin-left: 1px;
	color: #fff;
	text-align: center;
	font-weight: bold;
	font-size: 16px;
}

.third .about-title span {
	font-weight: bolder;
}

.third .details-cont {
	background: #fff;
	margin-left: 1px;
	color: #5bc0de;
	font-weight: bold;
	border-bottom: 2px solid #ccc;
}

.third .details-cont h3 {
	font-size: 15px;
	font-weight: bold;
}

.third .details-cont .values {
	text-align: right;
}

.third .space-cont {
	background: #fff;
	margin-top: 0;
	border-bottom: 2px solid #ccc;
	margin-left: 1px;
}

.third .space-cont img {
	width: 100%;
}

.third .space-title {
	margin-top: 20px;
	height: 63px;
	background: #5bc0de;
	margin-left: 1px;
	color: #fff;
	text-align: center;
	font-weight: bold;
	font-size: 16px;
}

.third .space-title span {
	font-weight: bolder;
}

.third .content {
	background: #FFF;
	width: 983px;
	min-height: 800px;
	position: relative;
	margin-top: 20px;
}

.third .content header {
	font-weight: bold;
	color: #5bc0de;
}

.third .content header .active > a {
	color: #fff;
	background: #5bc0de;
}

.third .content header .active > a:hover {
	background: #5bc0de;
	color: #fff;
	cursor: pointer;
}

.third .content header a {
	color: #5bc0de;
	border-radius: 0;
	border-right: 1px solid #5bc0de;
}

.third .content header a:hover {
	background: rgba(52, 152, 219, 0.3);
	color: #fff;
}


/* Comments */
.third .cont-data #comments img {
	width: 70px;
	height: 70px;
}

.third .cont-data #comments figure {
	margin-top: 20px;
	margin-left: 20px;
	float: right;
}

.third .cont-data #comments .comment-cont {
	width: 650px;
	height: 91px;
	background: #efefef;
	border: 1px solid #dbdbdb;
	border-radius: 2px;
	margin-top: 20px;
}

.third .cont-data #comments .comment-cont p {
	padding: 20px;
}

.third .cont-data #comments .comment-cont:before {
	content: "";
	display: inline-block;
	position: absolute;
	left: 7px;
	top: 30px;
	border-top: 8px solid transparent;
	border-right: 8px solid transparent;
	border-bottom: 8px solid transparent;
	border-right-color: #dbdbdb;
}

.third .cont-data #comments .comment-cont:after {
	content: "";
	display: inline-block;
	position: absolute;
	left: 8px;
	top: 30px;
	border-top: 8px solid transparent;
	border-right: 8px solid transparent;
	border-bottom: 8px solid transparent;
	border-right-color: #efefef;
}

.third .send-comment {
	width: 600px;
	margin: 30px 40px;
}

.third .send-comment button {
	margin-top: 10px;
}

.inner-modal-cont {
	text-align: left;
	padding: 20px;
}