{% extends 'dashboard/base.html' %}
{% load staticfiles %}
{% block title %} fyt.com | Dashboard {% endblock %}
{% block content %}
<div class="row tiles-container">
          <div class="m-l-10 ">
            <div class="tiles grey p-t-15 p-b-15 p-l-25 ">
              <h5 class="text-black semi-bold">ALL COMMENTS</h5>
            </div>
            <div class="tiles white ">
              <div class="p-t-20 p-b-15 b-b b-grey">
                <div class="post overlap-left-10">
                  <div class="user-profile-pic-wrapper">
                    <div class="user-profile-pic-2x white-border">
					<img width="45" height="45" src="/static/dashboard/img/profile-pic.jpg" data-src="/static/dashboard/img/profile-pic.jpg" data-src-retina="/static/dashboard/img/profile-pic.jpg" alt=""> 
					</div>
                  </div>
                  <div class="info-wrapper small-width inline">
                    <div class="info text-black ">
                      <p>Got great results with him! </p>
                      <p class="muted small-text"> 2 mins ago </p>
                    </div>
                    <div class="clearfix"></div>
                  </div>
                  
                  <div class="clearfix"></div>
                </div>
              </div>
              <div class="p-t-20 p-b-15 b-b b-grey">
                <div class="post overlap-left-10">
                  <div class="user-profile-pic-wrapper">
                    <div class="user-profile-pic-2x white-border">
					<img width="45" height="45" src="/static/dashboard/img/profile-pic.jpg" data-src="/static/dashboard/img/profile-pic.jpg" data-src-retina="/static/dashboard/img/profile-pic.jpg" alt=""> 
					</div>
                  </div>
                  <div class="info-wrapper small-width">
                    <div class="info text-black ">
                      <p>He's such a good trainer. </p>
                      <p class="muted small-text"> 2 mins ago </p>
                    </div>
                    <div class="clearfix"></div>
                  </div>
                 
                  <div class="clearfix"></div>
                </div>
              </div>
              <div class="p-t-20 p-b-15 ">
                <div class="post overlap-left-10">
                  <div class="user-profile-pic-wrapper">
                    <div class="user-profile-pic-2x white-border">
					<img width="45" height="45" src="/static/dashboard/img/profile-pic.jpg" data-src="/static/dashboard/img/profile-pic.jpg" data-src-retina="/static/dashboard/img/profile-pic.jpg" alt=""> 
					</div>
                  </div>
                  <div class="info-wrapper small-width">
                    <div class="info text-black ">
                      <p>I'm very happy with my abs. Great! </p>
                      <p class="muted small-text"> 2 mins ago </p>
                    </div>
                    <div class="clearfix"></div>
                  </div>
                  
                  <div class="clearfix"></div>
                </div>
              </div>
            </div>
            
          </div>
</div>
{% endblock %}